<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Document</title>
</head>
<body> 
    <h1>Hello World</h1>
    <form method="POST" action="/person">
        First Name: <input type="text" id="firstname" name="firstname"><br>
        Last Name: <input type="text" id="lastname" name="lastname">
        <input type="submit" value="Submit" />
    </form>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque numquam obcaecati vitae, voluptate odio harum architecto quas aspernatur? Laudantium expedita aliquam minus, ipsum voluptatibus iste velit, sequi quos quaerat earum commodi id quis quibusdam numquam eius voluptates deserunt non tempora nihil, ullam iure provident dolorem ipsam cumque! Cum, perspiciatis ea?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In deleniti impedit, molestias, ut et dolor ullam dolores repudiandae earum, recusandae maxime minima amet! Ex enim, repellat nihil minus delectus assumenda.</p>

    <script>
        $.ajax({
            type: "POST",
            url: "/personjson",
            data: JSON.stringify({firstname: "Jane", lastname: "Doe"}),
                dataType: 'json',
                contentType: 'application/json'
        })
    </script>
</body>
</html>